body {
    background-color: #00152a !important;
}

.container.main {
    padding-top: 110px;
}

.bg-light {
    transition: background-color 0.7s ease;
    transition: height 0.3s ease;
    height: 100px;
    background-color: #ffffff !important;
}

.bg-dark {
    transition: background-color 0.7s ease;
    transition: height 0.3s ease;
    height: 80px;
    background-color: transparent !important;
}
