
.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}

.bd-links {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
}

/* @media (min-width: 1200px) {
    .bd-sidebar {
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
    }
} */