.clickable {
    cursor: pointer;
}

.draggable {
    cursor: move;
}

/* 
MARGIN
*/
.my-1 {
    margin: 1rem 0 !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}

/* 
PADDING
*/
.pt-3 {
    padding-top: 3rem !important;
}
